* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

nav {
    min-height: 10vh;
    max-height: 10vh;
}

header {
    min-height: 75vh;
    max-height: 75vh;
    background-repeat: no-repeat;
}

/* FOR TESTING */
#key {
    position: fixed;
    top: 20px;
    left: 10px;
    width: 100px;
    height: 50px;
    font-size: x-small;
    z-index: 9999;
}

@media (max-width: 400px) {
    #key::after {
        content: "max-width: 400px";
        background-color: black;
        position: absolute;
        top: 40px;
        left: 0px;
        color: white;
        padding: 5px;
    }
    header {
        background-image: url("../images/weddell_small.jpg");
        background-size: cover;
        background-position: -75px;    
    }
}

@media (min-width: 400px) {
    #key::after {
        content: "max-width: 400px";
        background-color: black;
        position: absolute;
        top: 40px;
        left: 0px;
        color: white;
        padding: 5px;
    }
    header {
        background-image: url("../images/weddell_medium.jpg");
        background-size: cover;
        background-position: -100px center;
    }
}

@media (min-width: 600px) {
    #key::after {
        content: "min-width: 600px";
        background-color: black;
        position: absolute;
        top: 40px;
        left: 0px;
        color: white;
        padding: 5px;
    }
    header {
        background-image: url("../images/weddell_medium.jpg");
        background-position: -75px center;
    }
}

@media (min-width: 768px) {
    #key::after {
        content: "min-width: 768px";
        background-color: black;
        position: absolute;
        top: 40px;
        left: 0px;
        color: white;
        padding: 5px;
    }
    header {
        background-image: url("../images/weddell_large.jpg");
        background-size: cover;
        background-position: left bottom;
    }
}

@media (min-width: 992px) {
    #key::after {
        content: "min-width: 992px";
        background-color: black;
        position: absolute;
        top: 40px;
        left: 0px;
        color: white;
        padding: 5px;
    }
    header {
        background-image: url("../images/weddell_medium.jpg");
        background-position: center -100px;
    }
}

@media (min-width: 1200px) {
    #key::after {
        content: "min-width: 1544px";
        background-color: black;
        position: absolute;
        top: 40px;
        left: 0px;
        color: white;
        padding: 5px;
    }
    header {
        background-image: url("../images/weddell_large.jpg");
        background-position: center -200px;
    }
}

@media (min-width: 1200px) {
    #key::after {
        content: "min-width: 1200px";
        background-color: black;
        position: absolute;
        top: 40px;
        left: 0px;
        color: white;
        padding: 5px;
    }
    header {
        background-image: url("../images/weddell_large.jpg");
        background-position: center -200px;
    }
}

@media (min-width: 1400px) {
    #key::after {
        content: "min-width: 1400px";
        background-color: black;
        position: absolute;
        top: 40px;
        left: 0px;
        color: white;
        padding: 5px;
    }
    header {
        background-image: url("../images/weddell_large.jpg");
        background-position: center -300px;
    }
}

@media (min-width: 1550px) {
    #key::after {
        content: "min-width: 1550px";
        background-color: black;
        position: absolute;
        top: 40px;
        left: 0px;
        color: white;
        padding: 5px;
    }
    header {
        background-image: url("../images/weddell_large.jpg");
        background-position: center -400px;
    }

    .active {
        text-decoration: underline !important;
    }
}

@media (min-width: 1900px) {
    #key::after {
        content: "min-width: 1900px";
        background-color: black;
        position: absolute;
        top: 40px;
        left: 0px;
        color: white;
        padding: 5px;
    }
    header {
        background-image: url("../images/weddell_large.jpg");
        background-position: center -500px;
    }
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}